body {
    text-align: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(248, 231, 248), rgb(52, 216, 153));
}
button {
    background-color: rgb(47, 179, 196);
    height: 4vh;
    border-radius: 2vh;
}
.unableButton {
    background-color: rgb(170, 193, 196);
}